<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>


<h1>List Department Partial View</h1>

<script>
    $(document).ready(function(){
        var departments = [];
        loadData();
        function loadData() {
            $.ajax({
                url: 'https://localhost:7196/api/DepartmentAPI',
                type: 'GET'
            }).done(function (response) {
               
                console.log(JSON.stringify(response));
                departments = response.Records;
                generateTable(departments);
            }).fail(function (error) {
                $("#dvmessage").html(error);
            });
        }

        function generateTable(depts) {
            var rows = "";
            $.each(depts, function (index, val) {
                rows += `<tr><td>${val.DeptNo}</td><td>${val.DeptName}</td><td>${val.Location}</td><td>${val.Capacity}</td></tr>`
            });

            $("#tbody").html(rows);
        }
    });
</script>


<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>
                DeptNo
            </th>
            <th>
                DeptName
            </th>
            <th>
                Location
            </th>
            <th>
                Capacity
            </th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>